body {
  padding: 20px;
  -webkit-box-shadow: inset 0px 0px 50px 20px rgba(68,131,199,1);
  -moz-box-shadow: inset 0px 0px 50px 20px rgba(68,131,199,1);
  box-shadow: inset 0px 0px 50px 20px rgba(68,131,199,1);
}

span {
  font-style: italic;
}
